<div class="col s12 m6 l4" style="padding:5px;box-sizing:border-box" [hidden]="!homework">
  <div class="card" style="background:rgba(125,125,125,0.1)" [style.opacity]="homework.completers.indexOf(settingsService.user)>-1?0.3:1">
    <div class="card-content" (click)="folded=!folded" #cardcontent>
      <span class="card-title">{{homework.title}}</span>
      <div class="scroller">
        <p>Par {{homework.author}}. Dans {{homework.stream}}<br><span [hidden]="homework.end.getFullYear()>=today.getFullYear()+2">Pour le {{homework.end.toLocaleDateString()}}</span></p>
        <p>{{homework.description}}</p>
      </div>
    </div>
    <div class="card-action">
      <a [hidden]="homework.completers.indexOf(settingsService.user)>-1 || !(homework.id)" (click)="complete()">terminer</a>
      <a [hidden]="homework.completers.indexOf(settingsService.user)==-1 || !(homework.id)"  (click)="uncomplete()">terminé</a>
      <a [hidden]="homework.id">en upload</a>
      <a [hidden]="homework.author != settingsService.user" (click)="modifiy()">modifier</a>
      <a [hidden]="homework.author != settingsService.user" (click)="remove()"><i class="material-icons icon-button">close</i></a>
    </div>
  </div>
</div>
